.auth{
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.auth-text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(135deg,pink, purple);
}
.auth-text .auth-text-content{
    width: 50%;
}
.auth-text h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.auth-text p{
    /* font-size: 14px; */
    margin: .5rem 0;
}
.auth-form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    color: #c1354d;
}
.auth-form form{
    background-color: #fff;
    padding: 2rem;
}