.dashboard {
    background-color: #f4f4f4;
    width: 100%;
    height: 100vh;
}

.dashboard-header {
    padding: 20px;
    background-color: purple;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.dashboard-body {
    display: flex;
    justify-content: start;
}

.navbar {
    width: 15%;
    background-color: rgb(61, 15, 61);
    min-height: 90vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    width: 100%;
    display: block;
}

.navbar a {
    text-decoration: none;
    color: #ddd;
    width: 100%;
    padding: .5rem;
    background-color: #4c054c;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid purple;
}
.navbar a.active{
    background-color: purple;
}

.dashboard-content {
    width: 85%;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}